<html>
    <body style="background-color: lightgreen">
        <h3 style="color: blue;">Edit Book</h3>
        <a href='/search'>Back</a>
        <form action="/update">
            <input type="hidden" name="id" value="<%= @book.id %>">
            <input type="text" name="title" placeholder="Title" value="<%= @book.title %>">
            <textarea name="description" placeholder="Description"><%= @book.description %></textarea>
            <input type="text" name="year" placeholder="Year" value="<%= @book.year %>">
            <input type="text" name="isbn" placeholder="ISBN" value="<%= @book.isbn %>">
            <input type="text" name="author" placeholder="Author" value="<%= @book.author %>">
            <input type="text" name="genre" placeholder="Genre" value="<%= @book.genre %>">
            <input type="text" name="location" placeholder="Location" value="<%= @book.location %>">
            <input type="text" name="image" placeholder="Image URL" value="<%= @book.image %>">
            <input type="submit" value="Save">
        </form>

    </body>
</html>