<html>
    <head>
        <style>
            a {
                color: red;
            }
        </style>
    </head>
    <body>
        <a href='/search'>Back</a>
        <h3 style="color: blue;">Edit Book</h3>
        <form action="/update" method="post" enctype="multipart/form-data">

            <input class="form-control" type="hidden" name="id" value="<%= @book.id %>">
            <input class="form-control" type="text" name="title" placeholder="Title" value="<%= @book.title %>">
            <textarea class="form-control" name="description" placeholder="Description"><%= @book.description %></textarea>
            <input class="form-control" type="text" name="year" placeholder="Year" value="<%= @book.year %>">
            <input class="form-control" type="text" name="isbn" placeholder="ISBN" value="<%= @book.isbn %>">
            <input class="form-control" type="text" name="author" placeholder="Author" value="<%= @book.author %>">
            <input class="form-control" type="text" name="genre" placeholder="Genre" value="<%= @book.genre %>">
            <input class="form-control" type="text" name="location" placeholder="Location" value="<%= @book.location %>">
            <input class="form-control" type="file" name="picture" value="<%= @book.picture %>">
            <input class="form-control" type="submit" value="Save">

        </form>

    </body>
</html>