<html>
    <head>
        <style>
            table {
                table-layout: auto;
                border-collapse: collapse;
                width: 100%;
            }

            /*a {*/
            /*    color: red;*/
            /*}*/
            h1 {
                color: red;
            }

            #edit a {
                margin-left:auto;
                margin-right:auto;
            }
        </style>
    </head>
    <body>
        <a href="/">back</a>
        <h1 style="color: blue;">List of Books...</h1>
        <table>
            <tr style="font-weight: bold">
                <th></th>
                <th>Title</th>
                <th>Description</th>
                <th>Year</th>
                <th>ISBN</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Location</th>
            </tr>

            <% @books.each do |book| %>
                <tr>
                    <td>
                        <% if book.picture_file_name == nil %>
                            <img src="/blank.png">
                        <% else %>
                            <img src="<%= book.picture.url %>">
                        <% end %>
                    </td>
                    <td><%= book.title %></td>
                    <td><%= book.description %></td>
                    <td><%= book.year %></td>
                    <td><%= book.isbn %></td>
                    <td><%= book.author %></td>
                    <td><%= book.genre %></td>
                    <td id="edit">
                        <%= book.location %>
                        <a href="/edit?id=<%= book.id %>">Edit</a>
                    </td>
                </tr>
            <% end %>
        </table>
    </body>
</html>