<html>
    <body style="background-color: lightgreen">
        <h3 style="color: blue;">List of Books...</h3>
        <a href='/'>Back</a>
        <table>
            <tr style="font-weight: bold">
                <th></th>
                <th>Title</th>
                <th>Description</th>
                <th>Year</th>
                <th>ISBN</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Location</th>
            </tr>

            <% @books.each do |book| %>
                <tr>
                    <td>
                        <% if book.image == nil %>
                            <img height="100" src="/blank.png">
                        <% else %>
                            <img height="100" src="<%= book.image %>">
                        <% end %>
                    </td>
                    <td>
                        <%= book.title %>
                        <a href="/edit?id=<%= book.id %>">Edit</a>
                    </td>
                    <td><%= book.description %></td>
                    <td><%= book.year %></td>
                    <td><%= book.isbn %></td>
                    <td><%= book.author %></td>
                    <td><%= book.genre %></td>
                    <td><%= book.location %></td>
                </tr>
            <% end %>
        </table>

    </body>
</html>